.neko {
  width: auto;
  height: 200px;
}

#timetable tbody tr:nth-child(odd) {
  color: white;
  background-color: #2bf;
}

#timetable tbody tr:nth-child(even) {
  color: orange;
  background-color: black;
}

#timetable td {
  border: black solid 1px;
  padding: 8px 32px;
}