html, body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: stretch;
}

#list {
    margin: 0;
    padding: 16px 0;
}

#list .luck {
    color: white;
    background-color: darkred;
    font-size: xx-large;
    padding: 8px;
    margin: 8px;
    display: inline-block;
}

#raffle, #add {
    flex: 1;
    text-align: center;
}

#add {
    background-color: darkgray;
}
